body {
	background: url(../img/background.gif) top left;
	margin: 50px;
	font-family: Georgia, "Times New Roman", Times, serif;
  	font-size: 16px;
  	color: #8E5933;
}

a {
	margin: 2px;
	background: #eee;
	padding: 5px;
	text-decoration: none;
	color: #675c47;
	border-radius: 7px;
}

a:hover {
	color: #fff;
	background: #CD9988;
}

h1 {
	font-size: 20px;
  	color: red;
}
textarea {
	width: 170px;
	min-height: 200px;
}

p {
	margin: 10px;
}